debugger_file=
# qemu
QEMU_HOST="localhost"
QEMU_PORT=4444
QEMU_MONITOR_PORT=4445

# deno web server
DENO_WEB_SERVER_HOST="localhost"
DENO_WEB_SERVER_PORT=8080

# nextjs frontend
FRONTEND_HOST="localhost"
FRONTEND_PORT=3000